.env

/venv

/myenv

*.db
*.sqlite3
*.log
*.pyc
__pycache__/
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg
*.whl
*.DS_Store
*.coverage
*.pytest_cache/
*.mypy_cache/
*.ipynb_checkpoints/
*.vscode/
*.idea

